<h3>Add/Update Product</h3>

<form (ngSubmit)="submitProduct($event)">
    <input id="hidden" type="hidden" [(ngModel)]="_productService.product.id">
    <div>
        <label for="title">Title: </label><input id="title" [(ngModel)]="_productService.product.title" type="text">
    </div>

    <div>
        <label for="price">Price: </label><input id="price" [(ngModel)]="_productService.product.price" type="text">
    </div>

    <div>
        <label for="currency">Currency: </label>
        <select id="currency" [(ngModel)]="_productService.product.currency">
            <option *ngFor="#currencyOption of currencyOptions" [value]="currencyOption">{{currencyOption}}</option>
        </select>
    </div>
    <div> <label for="imageUrl">Image Url: </label><input id="imageUrl" [(ngModel)]="_productService.product.imageUrl" type="text"></div>
   <div>
       <label for="new">New: </label><input id="new" [(ngModel)]="_productService.product.new" type="checkbox">
   </div>
    <div>
        <label for="quantity">Quantity: </label><input id="quantity" [(ngModel)]="_productService.product.quantity" type="number">
    </div>
    <div>Created date: <span>{{_productService.product.createdDate}}</span></div>
    <div>Update date: <span>{{_productService.product.createdDate}}</span></div>
    <div>Created by: <span>{{_productService.product.createdBy}}</span></div>
    <button>Submit</button>
    <button type="button" (click)="clear()">Clear</button>
</form>
