<html>
<head>
    <title>Fiori-Blossoms</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script type='text/javascript' src='//dsms0mj1bbhn4.cloudfront.net/assets/pub/shareaholic.js' data-shr-siteid='9a89ffa141e40d427d6379dd5d2d32ec' data-cfasync='false' async='async'></script>
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css'>
    <meta name="keywords" content="fiori, blossoms, forever, flower, gift, store, shop, girlfriend, boyfriend, birthday, debut, wedding, bouquet, friend, family, brother, sister, mom, dad, valentines, surprise, affordable, price, order, delivery">
    <meta name="description" content="We don't only arrange your beautiful bouquet but we also help create wonderful memories with it. This Valentine's day, surprise your loved ones with our one of a kind bouquets.Order now!">
</head>
<!-- 3. Display the application -->
<body class="no-touch">
<my-app>Loading...</my-app>



<!-- 1. Load libraries -->
<script src="../node_modules/angular2/bundles/angular2-polyfills.js"></script>
<script src="../node_modules/systemjs/dist/system.src.js"></script>
<script src="../node_modules/rxjs/bundles/Rx.js"></script>
<script src="../node_modules/angular2/bundles/angular2.dev.js"></script>
<script src="https://code.angularjs.org/2.0.0-beta.0/http.dev.js"></script>
<script src="https://code.angularjs.org/2.0.0-beta.0/router.dev.js"></script>
<!-- 2. Configure SystemJS -->
<script>
    System.config({
        packages: {
            app: {
                format: 'register',
                defaultExtension: 'js'
            }
        }
    });
    System.import('app/boot')
        .then(null, console.error.bind(console));
</script>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.5/jquery.bxslider.js"></script>

<!-- Enable media queries for old IE -->
<!--[if lt IE 9]>
<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->
</body>
</html>
