<link href="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.2.2/css/flat-ui.min.css" rel="stylesheet"/>
<link href="../../css/responsive-gallery.css" rel="stylesheet"/>
<link href="../../css/menu.css" rel="stylesheet"/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.5/jquery.bxslider.css" rel="stylesheet"/>

<style type="text/css">
    .container {
        margin: 0px 2%;
    }

    .bxslider li img {
        margin: 0px auto;
    }

    .story1 {
        margin:auto; text-align: center; width:500px;
    }
    @media only screen and (max-width : 480px) {
        /* Smartphone view: 1 tile */
        .story1 {
           text-align: center;
            width: 200px;
        }
    }

    #payment_options {
        max-width: 600px;
        max-height: 450px;
        width: 100%;
    }

</style>

<header id="main-header" class="container">
    <img src="img/logo.jpg"  />
    <div style="float:right">
        <span style="padding-bottom: 10px;"><div>Follow us @</div> </span>
        <a target="_blank" href="http://www.facebook.com/fioriforeverblossoms" style="margin-right:10px"><img src="img/facebook.png" /></a>
        <a target="_blank" href="https://www.instagram.com/fioriforeverblossoms" style="margin-right:10px"><img src="img/instagram.png" /></a>
        <a target="_blank" href="https://twitter.com/fiori4verblosms" style="margin-right:10px"><img src="img/twitter.png" /></a>
        <a target="_blank" href="https://www.pinterest.com/fiori4verblosms" style="margin-right:10px"><img src="img/pinterest.png" /></a>
        <!--<a href="#" style="margin-right:10px"><img src="img/email.png" width="40" height="40"/></a>-->
    </div>
    <div style="clear:both"></div>
    <!--<nav class="menu">-->
        <!--<ul class="active">-->
            <!--<li class="current-item"><a href="#">Home</a></li>-->
            <!--<li><a href="#">My Work</a></li>-->
            <!--<li><a href="#">About Me</a></li>-->
            <!--<li><a href="#">Get in Touch</a></li>-->
            <!--<li><a href="#">Blog</a></li>-->
        <!--</ul>-->

        <!--<a class="toggle-nav" href="#">&#9776;</a>-->
    <!--</nav>-->
</header>
<div  style="height: 700px; background:linear-gradient(175deg, rgba(255,255,255,0.9), rgba(255,255,255,0.8) 50%, rgba(255,255,255,0.4)),linear-gradient(180deg, #fff, rgba(255,255,255,0) 10%),url(/img/landing_page_bg2.jpg) center top/cover no-repeat,#fff;">
    <div style="margin:auto; text-align: center"><h1>Fiori Forever Blossoms</h1></div>
    <div class="story1"><p>We don't only arrange your beautiful bouquet but we also help create wonderful memories with it. This Valentine's day, surprise your loved ones with our one of a kind bouquets.</p><p>Order now!</p></div>
</div>
<div id="bx-wrapper" style="margin-top: 25px; margin-bottom: 25px">
    <ul class="bxslider">
        <li><img src="img/characterbouquets.jpg" /></li>
    </ul>
</div>
<section class="container" style="padding:20px;">
    <div style="margin-top: 20px; text-align: center"><h4>Our products</h4></div>
    <div style="text-align: center"><p>We have a variety of character bouquets from hello kitty to winnie the pooh, mickey mouse, minnie mouse, tiger, minions, just name it and we will make it.</p></div>

    <div class="wrap container">
        <div class="box" *ngFor="#product of _productService.products" >
            <div class="boxInner" itemscope itemtype="http://schema.org/Product">
                <img src="{{ product.imageUrl }}" alt="{{product.title}}" onError="this.src='img/default_small.jpg';" />
                <div class="titleBox" (click)="imageClicked(this);"><div itemprop="name">{{ product.title }}</div> <div itemprop="offers" itemscope itemtype="http://schema.org/Offer"><p itemprop="price">₱ {{ product.price }}</p></div></div>
            </div>
        </div>
        <div [hidden]="_productService.products.length">
            <td>&nbsp;</td>
            <td colspan="6">No Records Found</td>
        </div>
    </div>
    <!-- /#wrap -->
</section>
<div style="text-align:center;margin-top:50px; margin-bottom:50px;">
    For inquiries, PM us now! For faster transaction call us at 09258151187. Thank you!</div>
<div style="text-align:center;margin-top:50px; margin-bottom:50px;"><img id="payment_options" src="img/payment_options.jpg" /></div>

<div  style="background-color: #edeff1; height: 100px;"></div>
<div style="background-color: #edeff1" class='shareaholic-canvas' data-app='share_buttons' data-app-id='23137348'></div>
<footer class="container" style="text-align: center;  margin-bottom:15px;"><span >Copyright 2016 - <a [routerLink]="['CmsProduct']">Fiori Forever Blossoms</a> All Rights Reserved.</span></footer>
