<h3>List of Products</h3>
<div class="row grid-container">
    <div class="col-md-10">
        <div class="table">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>&nbsp;</th>

                    <th sort-by="title" (sorted)="sort($event)">Title</th>
                    <th sort-by="price" (sorted)="sort($event)">Price</th>
                    <th sort-by="currency" (sorted)="sort($event)">Currency</th>
                    <th sort-by="new" (sorted)="sort($event)">New</th>
                    <th sort-by="quantity" (sorted)="sort($event)">Quantity</th>
                    <th sort-by="createdDate" (sorted)="sort($event)">Created Date</th>
                    <th sort-by="updateDate" (sorted)="sort($event)">Update Date</th>
                    <th sort-by="createdBy" (sorted)="sort($event)">Created By</th>
                    <th sort-by="imageUrl" (sorted)="sort($event)">Image Url</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="#product of _productService.products">
                    <td><img src="{{ product.imageUrl }}" alt="{{product.title}}" onError="this.src='img/default_small.jpg';" /></td>
                    <td>{{ product.title }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.currency }}</td>

                    <td>{{ product.new }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>{{ product.createdDate }}</td>
                    <td>{{ product.updateDate }}</td>
                    <td>{{ product.createdBy }}</td>
                    <td>{{ product.imageUrl }}</td>
                    <td><button type="button" (click)="editProduct(product)">Edit</button></td>
                    <td><button type="button"  (click)="delete(product)">Delete</button></td>
                </tr>
                <tr [hidden]="_productService.products.length">
                    <td>&nbsp;</td>
                    <td colspan="6">No Records Found</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

